<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Answering</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>
<div class="form-group">
    <label><h3>Question</h3></label>
    <input class="form-control" id="question" style="height:100px">
</div>

<button type="button" class="btn btn-info" onclick="getAnswer()"> Get answer</button>


<script>

    function getAnswer() {

        var http = new XMLHttpRequest();
        var url = "http://127.0.0.1:8008/qa";
        var params = document.getElementById("question").value;
        http.open("POST", url, true);

//Send the proper header information along with the request
        http.setRequestHeader("Content-type", "text/plain; charset=UTF-8");

        http.onreadystatechange = function () {//Call a function when the state changes.
            if (http.readyState == 4 && http.status == 200) {
                var res = http.responseText;
                var x = JSON.parse(res);
                document.getElementById("answer").innerText = x[0][0];
                document.getElementById("ques1").innerText = x[1];
                document.getElementById("ques2").innerText = x[2];
                document.getElementById("ques3").innerText = x[3];
            }
        }
        http.send(params);
    }

</script>


<div>
    <p id="answer">answer</p>

</div>
<h2>Recommend Question : </h2><br>
<a id="ques1" href="google.com"> Câu hỏi 1 </a><br><br><br>
<a id="ques2" href="google.com"> Câu hỏi 2 </a><br><br><br>
<a id="ques3" href="google.com"> Câu hỏi 3 </a><br><br><br>


</body>
</html>