<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    //var data = {{data}};
    //console.log(data);


    </script>
</head>
<body>
	<h3> Giao diện giáo viên trả lời trực tiếp </h3>
    <h3 id="ques">
        {% if data %}
        đã có data
        {{data}}
        {% endif %}
    </h3>
    <input type = "text" id="ans" style="height:100px;width:100%">
    <button>Trả lời</button>
</body>
</html>